<div class="container-menu">
    <nav class="menu">
        <ul>
            <li >
                <a class="element" [routerLink]="['/']" routerLinkActive="active">Inicio</a>
            </li>

            <li >
                <a class="element" [routerLink]="['/about']" routerLinkActive="active">Sobre mí</a>
            </li>

            <li >
                <a class="element" [routerLink]="['/portfolio']" routerLinkActive="active">Portafolio</a>
            </li>

            <li>
                <img id="logo" src="../../../../assets/images/LogoSolo.png" alt="Programación&+">
            </li>

            <li>
                <a class="element" [routerLink]="['/podcast']" routerLinkActive="active">Podcast</a>
            </li>

            <li>
                <a class="element" [routerLink]="['/courses']" routerLinkActive="active">Cursos</a>
            </li>

            <li>
                <a class="element" [routerLink]="['/contact']" routerLinkActive="active">Contacto</a>
            </li>
        </ul>
    </nav>
</div>

<div class="menu-phone">
    <div>
        <img src="../../../../assets/images/menu.svg" id="menu-squares">
    </div>

    <div>
        
    </div>
</div>