<section>
    <h1>Arturo Camacho</h1>

    <div class="content-home">
        <img id="profile-image" src="../../../../assets/images/yo.jpg" alt="Arturo Camacho"/>
        <p>
            "Me gusta mucho aprender siempre cosas nuevas, cada día trato de aprender algo nuevo.
            Esto me ha llevado a compartir mis conocimientos mediante diversos medios,
            principalmente por medio de un Podcast el cual te invito a escuchar para saber más
            de mi y mi amor por la programación en https://anchor.fm/arturocamacho0."
        </p>
    </div>
</section>